<main>
    <section class="form-section">
        <img>
        <img src="../../../assets/svg/ComandaPlus.svg">
        <h2 class="title-text">{{ title }}</h2>
        <ng-content></ng-content>
        <div class="btn-wrapper">
            <button class="btn-primary">{{ primaryBtnText}}</button>
            <div class="divider"></div>
            <button class="btn-secondary">{{secondaryBtnText}}</button>
        </div>
    </section>
    <section class="display-section">
       <img class="disply-image" src="../../../assets/svg/chef_image.svg">
    </section>
</main>