<app-default-login-layout
title="Cadastrar"
primaryBtnText="Cadastrar"
secondaryBtnText="Já possui uma conta"
>
    <form [formGroup]="signUpForm">
        <div class="name-input">
            <div class="name-field">
                <app-primary-input-component
                label="Primeiro nome"
                placeholder="João"
                >
                <img src="../../../assets/svg/email_icon.svg">
                </app-primary-input-component>
            </div>
            <div class="spacer"></div>
            <div class="name-field">
                <app-primary-input-component
                label="Sobrenome"
                placeholder="Silva"
                >
                <img src="../../../assets/svg/email_icon.svg">
                </app-primary-input-component>
            </div>
            
        </div>
        <div class="normal-form">   
            <app-primary-input-component
            label="Endereço de e-mail"
            placeholder="exemplo@gmail.com"
            >
            <img src="../../../assets/svg/email_icon.svg">
            </app-primary-input-component>
    
            <app-primary-input-component
            label="Senha"
            placeholder="Escreva sua senha"
            >
            <img src="../../../assets/svg/password_icon.svg">
            </app-primary-input-component>
 
        </div>
        
        
    </form>

</app-default-login-layout>