@import "../../../styles/variables.scss";

form {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 24px;
    margin-bottom: 34px;

    .name-input{
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        .name-field {
            flex: 0.48;
            width: 50%;
        }
        
    }  
    .normal-form {
        display: flex;
        flex-direction: column;
        gap: 24px;
    }
}