<app-default-login-layout
    title="Entrar na sua conta"
    primaryBtnText="Entrar"
    secondaryBtnText="Cadastrar"
>
    <form [formGroup]="loginForm">
        <app-primary-input-component
        label="Endereço de e-mail"
        placeholder="exemplo@gmail.com"
        >
        <img src="../../../assets/svg/email_icon.svg">
        </app-primary-input-component>

        <app-primary-input-component
        label="Senha"
        placeholder="Escreva sua senha"
        >
        <img src="../../../assets/svg/password_icon.svg">
        </app-primary-input-component>
    </form>

</app-default-login-layout>